.benefit{
    padding: 0 $pd-6;
    display: flex;
    margin-bottom: 100px;
    &__left{
       width: 50%;
       padding-right: 120px;
    }
    &__right{
       width: 50%;
       display: flex;
       align-items: center;
       .benefit__img{
           cursor: pointer;
        img{
            width: 100%;
        }
        @include styleIconPlay();
       }
    }

    @include responsive('extra-large'){
        &__left{
            padding-right: 7%;
        }
    }
    @include responsive('medium'){
        display: block;
        &__left{
            width: 100%;
            padding-right: 0;
        }
        &__right{
            width: 100%;
        }
    }
}
