.categories {
    padding: 0 $pd-6;
    margin-bottom: 80px;
    &__content {
        display: flex;
        flex-wrap: wrap;
        li.categories__item {
            width: 25%;
            list-style-type: none;
            padding: $pd-1 + 2 $pd-7;
            a {
                display: block;
                width: fit-content;
                margin: 0 auto;
                text-decoration: none;
                @include styleText($color-black-0, $fs-0 - 1, $fw-5);
                position: relative;
                img {
                    display: block;
                    width: 48px;
                    margin: 0 auto;
                    margin-bottom: $mg-2;
                }

                &::after {
                    content: "";
                    display: inline-block;
                    width: 48px;
                    height: 2px;
                    background-color: $color-gray-7;
                    position: absolute;
                    top: 52px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all 0.25s;
                }

                &:hover::after{
                    width: 90px;
                    background-color: $color-green-0;
                }
            }
        }
    }

    @include responsive('medium'){
        &__content{
            li.categories__item{
                width: 50%;
            }
        }
    }
}
