.popular {
    padding: 0 $pd-6;
    margin-bottom: 100px;
    &__item {
        height: 300px;
        border-radius: 4px;
        
        //style overlay
        @include styleOverlay(6);
        
        img{
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
        &--text{
            padding: $pd-2 - 1;
            line-height: 23px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            p {
                @include styleText($color-white-0, $fs-0 - 1, $fw-0);
                margin: 0;
            }
            h3 {
                @include styleText($color-white-0, $fs-4, $fw-2);
            }
        }
        
    }
}
